@{
  Layout = "_Layout";
}

@using HairSalon.Models
@model HairSalon.Models.Stylist

<h1>Are you sure you want to delete this Stylist?</h1>

@Html.DisplayNameFor(model => model.StylistId) : @Html.DisplayFor(model => model.StylistId) : @Html.DisplayNameFor(model => model.StylistName): @Html.DisplayFor(model => model.StylistName)

<h3>This will also delete their assigned clients</h3>

@if(Model.Clients.Count > 0)
{
  <h3>Please reassign clients from @Html.DisplayFor(model => model.StylistName):</h3>
  <ul>
    @foreach(Client client in Model.Clients)
    {
      <li>@Html.ActionLink($"{client.ClientName}", "Show", "Clients", new {id = client.ClientId})</li>
    }
  </ul>
}

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-lg" />
}

@Html.ActionLink("Cancel", "Show", new {id = Model.StylistId}, new{@class="btn btn-lg"})