@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1>Edit Stylist - @Html.DisplayFor(model => model.StylistName)</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)

  @Html.LabelFor(model => model.StylistName, "Name: ")
  @Html.EditorFor(model => model.StylistName)
  <br>
  @Html.LabelFor(model => model.StylistShift, "Shift: ")
  @Html.EditorFor(model => model.StylistShift)
  <br>
  <input type="submit" value="Save" class="btn btn-lg">
  @Html.ActionLink("Cancel", "Show", new {id = Model.StylistId}, new{@class="btn"})
}